.home{
  text-align: center;
}

.hero{
  position: absolute;
  top: 15rem;
  left: 6rem;
  text-align: left;
}
.about{
  margin-top: 40rem;
}
h1{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  position: absolute;
  top: 37rem;
  left: 19rem;
}
.wrapper{
  width: 80%;
  margin: 20rem;
  text-align: center;
}
heading{
  font-size: 3rem;
  font-style: bold;
}

.buttons{
 justify-content: space-between;
}
button{
  margin-right: 5px;
}