.Main {
  font-family: "Poppins", sans-serif;
  border: 2px lightgray solid;
  border-radius: 1rem;
  max-width: 700px;
  box-shadow: 4px 4px 10px 2px #cbced1, 4px 4px 10px white;
  margin: 4rem auto 2rem;
}

.sign {
  margin: 2.5rem;
}

.hr {
  padding: 0;
}
button {
  width: 140px;
  height: 35px;
  border-radius: 50px;
  margin-top: 30px;
}

input {
  margin-top: 0;
  width: 200px;
  height: 30px;
  border-radius: 50px;
  background-color: lightgray;
}
b{
  font-size: 30px;
}
